
<div class="ui centered grid container">

<div class="six wide column">

<h2>Entrar</h2>

<div class="ui form">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Entrar", class:"ui blue button" %>
  </div>
<% end %>

<br>
<br>

<%= render "devise/shared/links" %>

</div>
